@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --modal-duration: 1s;
    --primary-color: #3B82F6;
    --secondary-color: #3B82F6;
    --sucess-color: black;
    --error-color: red;
  }
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
/*padding-top
padding-right
padding-bottom
padding-left*/
h1 {
    font-size:16px;
    display: inline-block;
    padding: 14px 20px 14px 20px;
    border-radius: 8px ;
    box-shadow: 0 10px 15px -3px;
    background-color: #3B82F6;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
    margin-top: 8px ;
    margin-bottom: 8px ;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #D1D5DB;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.seat {
    background-color: #7f1d1d;
    opacity: 1;
    height: 16px;
    width: 16px;
    margin: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.seat.selected {
    background-color: #1e3a8a;
    opacity: 1;
}


.seat.occupied {
    background: #111827;
    opacity: 1;
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(2) {
    margin-left: 20px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.25);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: #D1D5DB;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 3px;
}

.row {
    display: flex;
}

.screen {
    background-color: black;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 2555, 255, 0.7);
}

.container {
    perspective: 1000px;
    margin-bottom: 50px;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #3B82F6;
}

//new
button {
}
.cta-btn {
    padding: 12px 20px 12px 20px;
    border-radius: 8px ;
    color: white;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
    margin-top: 7px ;
    margin-bottom: 7px ;    
    background-color: #3B82F6;
    text-transform:uppercase;
    font-size: 16px ;
    line-height: 20px;
    border:1px solid #3B82F6;
}
}

.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
  }
  
  .modal-container {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
  
  .modal-container.show-modal {
    display: block;
  }
  
  .modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
  }
  
  .modal-header h3 {
    margin: 0;
    /* border-bottom: 1px solid var(--secondary-color); */
  }
  
  .modal-content {
    padding: 20px;
  }
  
  
  .close-btn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: white;
    border:0;
  }
  
  @keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  //form new
  
  
  .form {
    padding: 30px 40px
  }
  
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .form-control label {
    color: black;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  
  .form-control input:focus {
    outline: 0;
    border-color: white;
  }
  
  .form-control.success input {
    border-color: var(--sucess-color);
  }
  
  .form-control.error input {
    border-color: var(--error-color);
  }
  
  .form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }
  
  .form button {
    cursor: pointer;
    background-color: #3B82F6;
    border: 2px solid #3B82F6;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  // card

  #card {
    position: relative;
   // width: 320px;
    display: block;
    //margin: 40px auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;

  }

  #upper-side {
    padding: 15px;
    background-color: #3B82F6;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  #checkmark {
    font-weight: lighter;
    fill: #fff;
    //margin: -2.5em 20px 20px 20px;
  }
  #status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.1em;
    margin-bottom: 0;
  }
  #lower-side {
    padding: 2em 2em 2em 2em;
    background-color: white;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #message {
    margin-top: -.5em;
    color: #757575;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
  }
  #contBtn {
    padding:5px 5px 5px 5px;
    color:white;
    background-color: #3B82F6;
    border: 2px solid #3B82F6;
    text-decoration:none;
    border-radius:5px;
    margin:20px 10px 20px 10px;
  } 
  .card-container {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
  
  .card-container.show-card {
    display: block;
  }
  
 .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    width: 550px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  