@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/*********** Global Styles********/

body {
  background-color: #e3e3e3;
  margin: 0;
  padding: 0;
  line-height:1.5;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

div {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif !important;
  //font-family: "Lato", sans-serif !important;
  font-weight: 900 !important;
}

.wrapper {
  background: #e3e3e3;
}

.img-circle {
  border-radius: 50%;
}

.my-button {
  font-size: 1em;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, color 0.2s 0.3s;
  letter-spacing: 0;
  border-radius: 45px;
  height: auto;
  padding: 0.8em 2.1em;
}

.my-button:hover {
  cursor: pointer;
  padding: 0.8em 2.7em;
}

.my-button:active,
.my-button:focus,
.my-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/*** work ***/
#work {
  padding: 6em 4em 3em;
  background-color: #fff;
}

#work h2 {
  color: #55198b;
  margin-bottom: 0.7em;
}

#work .tag-line {
  color: #767779;
  font-size: 1.4em;
  margin-bottom: 4em;
  font-family: "Montserrat", sans-serif;
}

#work .work-row {
  margin-bottom: 5.5em;
}

.details h3 {
  color: #738182;
  text-transform: uppercase;
}

.details .platform {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 2em 0 -0.1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #55198b;
}

.details i {
  color: #55198b;
  margin-right: 1em;
}

.details p {
  color: #738182;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 1.8em;
  line-height:1.6;
}

.details a,
.details a:link,
.details a:active {
  background-color: #55198b !important;
  color: #fff;
  text-decoration: none;
}

.details a:hover,
.details a:focus {
  /*box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);*/

  color: #55198b;
  border: 2px solid #55198b !important;
  background-color: #fff !important;
}

/*** footer starts ***/

#footer {
  padding: 5em 4em 2em;
}

#footer #logo {
  background-color: #55198b;
  border-radius: 50%;
  color: #fff;
  padding: 0.4em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  display: inline;
}

#footer #copyright {
  margin-top: 1.6em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #7d7d7d;
}

.profile-photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  margin-top: -100px;
  margin-bottom: 40px;
}

/*------------FOUNDATION STYLES-----------------*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

.text-center {
  text-align: center;
}

.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}
.row::before,
.row::after {
  display: table;
  content: " ";
}

.row::after {
  clear: both;
}

.small-12 {
  width: 100%;
}
.columns {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}
.columns:last-child:not(:first-child) {
  float: right;
}

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100% !important;
  height: auto;
  page-break-inside: avoid;

  -ms-interpolation-mode: bicubic;
}

@media print, screen and (min-width: 40em) {
  .medium-6 {
    width: 50%;
  }
  .medium-push-6 {
    position: relative;
    left: 50%;
  }
  .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .medium-5 {
    width: 41.66667%;
  }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .medium-offset-1 {
    margin-left: 8.33333%;
  }
  .medium-offset-3 {
    margin-left: 25%;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.9375rem;
  }
}
