[submodule "Axiom-Module-A"]
        path = Axiom-Module-A
        url = https://somesite.tld/user/repository.git


[submodule "./FrontEnd-Mentor-Challenges"]
        path = FrontEnd-Mentor-Challenges


[submodule "./Next-JS-Projects"]
        path = Next-JS-Projects


[submodule "./React-JS-Project"]
        path = React-JS-Project
