@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
        font-family: 'Raleway', sans-serif;
        background-color: rgba(229, 231, 235, 1);
}


       // 640 px
@media (min-width: 640px) {
.secondclass {
        max-width: 36rem/* 576px */;
        }
.pictwo {
        margin-top: 2rem/* 32px */;
        height: 16rem/* 256px */;
        width: 100%;
        object-fit: cover;
        }
.fourthclass{
     margin-top: 2rem/* 32px */;
     font-size: 2.25rem/* 36px */;
     line-height: 2.5rem/* 40px */;
        }
.seventh {
        margin-top: 1rem/* 16px */;
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
}
.eighth{
        margin-top: 1.5rem/* 24px */;
}
.ninth{
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;
}
.twelveth {
        max-width: 36rem/* 576px */;
    }
}

         //1024px 
@media (min-width: 1024px) {
.firstclass{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        }

.secondclass{
        padding-left:  48px ;
        padding-right: 48px ;
        padding-top: 96px ;
        padding-bottom: 96px ;
        max-width: 100%;
        }
.pictwo{
        display: none;
}
.fourthclass{
       font-size: 30px ;
       line-height:  36px;
}
.fifth{
        display: inline;
}
.tenth {
        display: block;
}
.twelveth {
        max-width: 72rem/* 1152px */;
        padding-left: 3rem/* 48px */;
        padding-right: 3rem/* 48px */;
    }
.fifteenth {
        grid-template-columns: repeat(2, minmax(0, 1fr));
}
}

       //1280px
@media (min-width: 1280px) {
.secondclass{
         margin-right: 0px;
     }
.thirdclass{
        max-width: 576px;
}
.fourthclass{
        font-size:  36px ;
        line-height:  40px ;
}
.fifteenth { 
        grid-template-columns: repeat(3, minmax(0, 1fr));
}
}
         //1536px
@media (min-width: 1536px) {
        .firstclass { 
        grid-template-columns: repeat(5, minmax(0, 1fr));
 }
 .secondclass{
        grid-column: span 2 / span 2;
 }
 .tenth{
        grid-column: span 3 / span 3;
 }
}

          //Individuals

.firstclass {
        background-color: rgba(243, 244, 246, 1);      
        display: grid;
}

.secondclass {
        padding:48px 32px 48px 32px;
        max-width:  448px ;
        margin-left: auto;
        margin-right: auto;

}
.onepic {
        height:13rem;
        width:25rem;
}

.pictwo {
        margin-top:24px;
        border-radius: 8px ;
        object-position: center;
}
.fourthclass {
        margin-top:  24px ;
        font-size:  24px ;
        line-height:  32px ;
        font-family: 'Raleway', sans-serif;
        letter-spacing: -0.025em;
        font-weight: 600;
        color: rgba(17, 24, 39, 1);
}
.fifth {
        display: none;  
}
.sixth {
        color: rgba(15, 169, 230, 1);
}
.seventh {
        margin-top: 0.5rem/* 8px */;
        color: rgba(75, 85, 99, 1);
}
.eighth {
        margin-top: 1rem/* 16px */;
        margin-left:calc(0.25rem*calc(1-0));
        margin-right:calc(0.25rem*0);
}

.ninth {
         text-decoration:none;
         display: inline-block;
         padding: 12px 20px 12px 20px;
         border-radius: 8px ;
         box-shadow: 0 10px 15px -3px;
         color: white;
         letter-spacing: 0.05em;
         font-weight: 600;
         text-align: center;
         margin-top: 8px ;
         margin-bottom: 8px ;    
         background-color: rgba(15, 169, 230, 1);
         text-transform:uppercase;
         font-size: 0.875rem/* 14px */;
         line-height: 1.25rem/* 20px */;
}
.ninth:hover {
        background-color: rgba(63, 186, 235, 1);
        text-decoration:none;
}
.ninth:active {
        background-color: rgba(12, 135, 184, 1);
}


.ninth:focus{
        border-color :  rgba(15, 169, 230, 1);
        text-decoration:none;
        outline: 2px solid transparent;
        outline-offset: 2px;

}
.tenth {
        display: none;
        position: relative;
}
.eleventh {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
}
.twelveth {
        max-width: 28rem/* 448px */;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem/* 32px */;
        padding-right: 2rem/* 32px */;
        padding-top: 2rem/* 32px */;
        padding-bottom: 2rem/* 32px */;
}
.thirteenth {
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
        color: rgba(17, 24, 39, 1);
}
.fourteenth {
        margin-top: 0.5rem/* 8px */;
        color: rgba(75, 85, 99, 1);
}
.fifteenth {
        margin-top: 1.5rem/* 24px */;
        display: grid;
        gap: 1.5rem/* 24px */;
}
           //App.jsx Finished
.sixteenth {
        display: flex;
        align-items: center;
        border-radius: 0.5rem/* 8px */;
        background-color: rgba(255, 255, 255, 1);
        box-shadow:10px;
        overflow: hidden;
}
.image {
        flex-shrink: 0;
        height:8rem;
        width:8rem;
}
.seventeenth {
        padding-left: 1.5rem/* 24px */;
        padding-right: 1.5rem/* 24px */;
        padding-top: 1rem/* 16px */;
        padding-bottom: 1rem/* 16px */;
}
.eighteenth {
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
        font-weight: 600;
        color: rgba(31, 41, 55, 1);
}
.ninteenth {
        color: rgba(75, 85, 99, 1);
}
.twentieth {
        margin-top: 1rem/* 16px */; 
}
.twentyone {
        color: rgba(12, 135, 184, 1);
        font-weight: 600;
        font-size: 0.875rem/* 14px */;
        line-height: 1.25rem/* 20px */;
}
.twentyone:hover {
        color: rgba(15, 169, 230, 1);
}



























