/*
.fourthclass {
        margin-top:  24px ;
        font-size:  24px ;
        line-height:  32px ;
        font-family: Poppins, sans-serif;
        letter-spacing: -0.025em;
        font-weight: 600;
        color: rgba(17, 24, 39, 1);
        @media (min-width: 640px) {
                    margin-top: 32px ;
            }
            @media (min-width: 640px) {
                    font-size: 36px ;
                    line-height: 40px ;
            }
            @media (min-width: 1024px) {
                    font-size: 30px ;
                    line-height:  36px;
            }
            @media (min-width: 1280px) {
                    font-size:  36px ;
                    line-height:  40px ;
            }
}*/
@media (min-width: 640px) {
.secondclass {
        max-width: 36rem/* 576px */;
        }
.pictwo {
        margin-top: 2rem/* 32px */;
        height: 16rem/* 256px */;
        width: 100%;
        object-fit: cover;
        }
.fourthclass{
     margin-top: 2rem/* 32px */;
     font-size: 2.25rem/* 36px */;
     line-height: 2.5rem/* 40px */;
        }
}


@media (min-width: 1024px) {
.firstclass{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        }

.secondclass{
        padding-left:  48px ;
        padding-right: 48px ;
        padding-top: 96px ;
        padding-bottom: 96px ;
        max-width: 100%;
        }
.pictwo{
        display: none;
}
.fourthclass{
       font-size: 30px ;
       line-height:  36px;
}
}





@media (min-width: 1280px) {
.secondclass{
         margin-right: 0px;
     }
.thirdclass{
        max-width: 576px;
}
.fourthclass{
        font-size:  36px ;
        line-height:  40px ;
}
}

@media (min-width: 1536px) {
        .firstclass { 
        grid-template-columns: repeat(5, minmax(0, 1fr));
 }
 .secondclass{
        grid-column: span 2 / span 2;

 }
}


.firstclass {
        background: #f3f4f6;
        opacity: 1;
        display: grid;
}

.secondclass {
        padding:48px 32px 48px 32px;
        max-width:  448px ;
        margin-left: auto;
        margin-right: auto;

}
.onepic {
        height:12rem;
        width:24rem;
}

.pictwo {
        margin-top:24px;
        border-radius: 8px ;
        object-position: center;
}
.fourthclass {
        margin-top:  24px ;
        font-size:  24px ;
        line-height:  32px ;
        font-family: Poppins, sans-serif;
        letter-spacing: -0.025em;
        font-weight: 600;
        color: rgba(17, 24, 39, 1);
}












