@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

body {
    margin: 0;
    //font-family: 'Helvetica', 'Arial', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color:E4E6EB;
    font-weight: 400;
    color: black;
}


a {
    color: black;
}

              /* Header Bar */
header {
    height: 75px;
    z-index: 10;
    position: relative;
    background-color:white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.search {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}

.search-container {
    height: 40px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #E4E6EB;
    display: flex;
    overflow: hidden;
}

.search-container:hover {
    border: 1px solid black;

}

.input-container {    
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.input-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

.input-container i {
    font-size: 20px;
    margin-left: 25px;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 75px;
    width: 75px;
}

.logo img {
    height: 100%;
}

.left-nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.left-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.left-nav nav ul li {
    text-transform: uppercase;
    padding-left: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.left-nav nav ul li:hover {
    color: #008248;
}

.right-nav {
    display: flex;
    align-items: center;
}

.cart {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.cart i {
    padding-right: 8px;
    font-size: 24px;
    cursor: pointer;
}

.cart:hover {
    color: rgba(0,0,0,.7);}

.log-in, .sign-up {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
}

.log-in {
    margin-right: 16px;
    
}

.log-in:hover {
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
    transition: all .2s ease;
    color:white;
}

.sign-up {
    background-color: black;
    color: white;
    transition: all .2s ease;
}

.sign-up:hover {
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left:25px;
    margin-top:20px;
}
.main-container {
    display:flex;
    flex-direction:column;
}
.product-name {
    font-size:70px;
}
.price {
    font-size:40px;
}

.sizes {
    list-style-type:none;
    display:flex;
}
.sizes li:hover{
    border:1px solid black;
    background-color:black;
    color:white;

}
.sizes li{
    margin-left:5px;
    border:1px solid black;
    padding:8px;
    background-color:white;
    color:black;
}

.buy {
    padding:15px;
    border:1px solid black;
    background-color:white;
    color:black;
}

























                     /* Footer Bar */
 
                
.end {
    margin-top:20px;

    padding: 34px 0;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}
.icons {
    margin-left: 40px ;
    margin-bottom:20px;
}
.icons i {
    background-color: black;
    color: white;
    border-radius: 100px;
    border: 1px solid black;
    padding: 8px;
    margin-left:2px;
    transition: all 0.2s ease;

}

.icons i:hover {
    padding: 7px 7px;
}

.last-li {
    margin-bottom:5px;
}

.last-li ul {
    list-style-type: none;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    font-weight:500;
    font-size:16px;
    margin-bottom: 20px;

}
.last-li a {
    text-decoration:none;
}
.last-li a:hover {
    text-decoration: underline;
}

.last-li ul li {
    padding-right: 8px;
}

.copyright-para span {
    margin-top: 20px;
    margin-left:40px;
    font-size:15px;
}