@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.container {
  display: grid;
  grid-template-columns: 280px 450px;
  grid-auto-flow: row;
}

.left-side {
  margin: 0;
}

.left-side img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 280px;
  height: 100%;
}

.right-side {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 50px;
  background-color: white;
}

.head {
  font-weight: 700;
  font-size: 22px;
  color: hsl(217, 19%, 35%);
}

.para {
  font-weight: 700;
  font-size: 13px;
  color: hsl(214, 17%, 51%);
}

.profile {
  display: flex;
  margin: 20px 0;
  flex-direction: row;
  align-items: center;
}

.name {
  margin: -10px 5px 10px 18px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  font-size: 13px;
}

.date {
  margin: -8px 18px;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
  font-size: 13px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.share {
  padding: 10px 10px;
  margin-left: 110px;
  border-radius: 50px;
  color: hsl(214, 17%, 51%);
  background-color: hsl(210, 46%, 95%);
}

.opened {
  background-color: hsl(214, 17%, 51%);
  color: hsl(210, 46%, 95%);
}

.box {
  background-color: yellow;
  display: flex;
  flex-direction: row;
}
